<h1>Annotieren</h1>

<mat-form-field class="form-element">
  <mat-label>Modellauswahl</mat-label>
  <mat-select (selectionChange)="onModelSelected($event.value)">
    <mat-option *ngFor="let model of models" [value]="model.name">
      {{ model.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<input hidden type="file" #fileInput (change)="onFileSelected($event)">

<button mat-raised-button class="form-element" (click)="fileInput.click()">
  Datei hochladen
</button>

<button mat-raised-button class="form-element" (click)="annotate()">
  Annotieren
</button>

<div *ngIf="fileError" class="error-message">
  {{ fileError }}
</div>

<div class="row mt-5">
  <div class="col-12">
    <h1 class="mb-5 display-4">Annotationsservice</h1>
    <hr>
    <ngx-annotate-text
      *ngIf="mainObject"
      [(annotations)]="annotations"
      [removable]="true"
      [text]="mainObject.text"
      annotationClass="my-annotation"
      (clickAnnotation)="onClickAnnotation($event)"
      (removeAnnotation)="onRemoveAnnotation($event)"
      #annotateText
    >
    </ngx-annotate-text>
    <hr>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <button
      mat-button
      *ngFor="let button of annotationButtons"
      type="button"
      [style.background-color]="button.color"
      [style.min-width.px]="50"
      (click)="addAnnotation(button.label, button.color)"
      (contextmenu)="removeAnnotationButton(button.label, button.color, $event)"
    >
      {{ button.label }}
    </button>


    <div class="input-group">
      <input type="color" [(ngModel)]="newAnnotationColor" placeholder="Farbe" class="same-size">
      <input type="text" [(ngModel)]="newAnnotationLabel" placeholder="Name" class="same-size">
      <button
        mat-button
        class="same-size"
        (click)="addAnnotation(newAnnotationLabel, newAnnotationColor)"
      >
        Annotation hinzufügen
      </button>

    </div>
    <hr>
    <button
      type="button"
      class="btn btn-outline-success same-size me-2 mt-2"
      (click)="onSave()"
    >
      Save
    </button>
  </div>
</div>
