.message-field {
  margin-top: 20px;
}

.submit-button {
  margin-top: 20px;
}
.same-size {
  height: 40px;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 20px;
}

.custom-btn {
  border: none; /* Removes border */
  outline: none; /* Removes outline */
}

.custom-btn:hover {
  opacity: 0.8; /* Makes button slightly transparent when hovered over */
}

.form-element {
  width: 30%; /* Stellt sicher, dass das Element die volle Breite einnimmt */
  margin-bottom: 8px; /* Fügt einen Abstand nach unten hinzu */
}
.error-message {
  color: red;
  margin-bottom: 10px;
}


