/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grey-line {
  border: 0;             /* Remove default border */
  border-top: 1px solid grey;  /* Add a top border */
  width: 100%;          /* Make it span the full width */
  margin: 10px 0;       /* Add some vertical spacing */
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
}
.example-form .mat-form-field-flex,
.example-form .mat-select-value {
  background-color: white !important;
}
.card {
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  background-color: #fff;
  margin: 1.25rem 0 1.25rem 0;
  box-shadow: 0 .25rem .5rem #e6edef;

  .card-head {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #edf1f7;
    font-size: 1rem;
    font-weight: 600;
  }

  .card-body {
    padding: 1rem 1.5rem;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Global styles.css or styles.scss file */

.mat-slider-thumb-label,
.mat-slider-thumb {
  background-color: black !important;
  border-color: black !important;
}

.mat-slider-track-fill,
.mat-slider-track-background {
  background-color: black !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
