<h1>Modell bearbeiten</h1>
<div mat-dialog-content>
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>API</mat-label>
    <input matInput [(ngModel)]="data.api">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Beschreibung</mat-label>
    <textarea matInput [(ngModel)]="data.description"></textarea>
  </mat-form-field>
  <mat-checkbox [(ngModel)]="data.madebyMB">Made by MB</mat-checkbox>
  <mat-form-field class="example-full-width">
    <mat-label>Modell</mat-label>
    <input matInput [(ngModel)]="data.model">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Abbrechen</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Speichern</button>
</div>
