<h1>Hinzufügen neuer Modelle</h1>

<mat-card>
  <mat-card-content>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" style="display: flex; flex-direction: column; gap: 16px;">

      <mat-form-field appearance="fill">
        <mat-label>Name des Modells</mat-label>
        <input matInput type="text" formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>API für den Zugriff</mat-label>
        <input matInput type="text" formControlName="api">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Kurzbeschreibung</mat-label>
        <input matInput type="text" formControlName="description">
      </mat-form-field>

      <mat-checkbox formControlName="madebyMB">Erstellt von Matthias Blank</mat-checkbox>

      <mat-form-field appearance="fill">
        <mat-label>Land</mat-label>
        <mat-select formControlName="model">
          <mat-option value="1">GPT (OpenAI)</mat-option>
          <mat-option value="2">Spacy</mat-option>
          <mat-option value="3">Huggingface Transformer</mat-option>
          <mat-option value="4">Sonstige</mat-option>
        </mat-select>
      </mat-form-field>

      <div style="align-self: flex-start;">
        <button mat-raised-button color="primary" type="submit" [disabled]="contactForm.invalid">Speichern</button>
      </div>

      <div *ngIf="showConfirmation" class="confirmation-message">
        Ihre Daten wurden erfolgreich gespeichert!
      </div>

    </form>
  </mat-card-content>
</mat-card>
