<h1>Settings</h1>
<h2>{{message}}</h2>
<h3>{{number}}</h3>

<h1>String Liste</h1>
<mat-list>
  <mat-list-item *ngFor="let str of filteredList">{{ str }}</mat-list-item>
</mat-list>

<mat-card>
  <mat-card-content>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" style="display: flex; flex-direction: column; gap: 16px;">

      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput type="text" formControlName="firstname">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" formControlName="lastname">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email">
      </mat-form-field>

      <div>
        <mat-label>Gender</mat-label>
        <mat-radio-group formControlName="gender">
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-checkbox formControlName="isMarried">Married</mat-checkbox>

      <mat-form-field appearance="fill">
        <mat-label>Country</mat-label>
        <mat-select formControlName="country">
          <mat-option value="1">India</mat-option>
          <mat-option value="2">USA</mat-option>
          <mat-option value="3">England</mat-option>
          <mat-option value="4">Singapore</mat-option>
        </mat-select>
      </mat-form-field>
      <div style="align-self: flex-start;">
        <button mat-raised-button type="submit">Submit</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
